@model MusicaAut_BauteViviana.Models.Artist

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del artista</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtistId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
