@model MusicaAut_BauteViviana.Models.Album

@{
    ViewData["Title"] = "Detalles del álbum";
}

<h1>Detalles </h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titulo del álbum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.AlbumId">Edit</a> |*@
    <a asp-action="Index">Volver a la lista</a>
</div>
